<div id="dng_packages_container">
	<ul>
		{{#each packages}}
		<li onclick="showPackageSteps('{{packageid}}')">
			<div class="top_half">
				<div class="package_name_container">
					<div class="package_name">{{packagename}}</div>
				</div>
			</div>
			<div class="bottom_half">
				<div class="bottom_half_content">
					{{#if image}}
					<div class="photo">
						<img src="{{edit_package_card_photo image}}" alt="{{packagename}}" width="100%">
					</div>
					{{/if}}
					<div class="description">{{description}}</div>
					<div class="date">Published: {{format_package_date entered}}</div>
				</div>
			</div>
		</li>
		{{/each}}
	</ul>
</div>