<div id="dng_steps_container">
	
	<div class="dng_back_to_packages">
		<div class="dng_back_to_packages_button">
			<span class="fa fa-arrow-left"></span>
			<span class="text" onclick="loadPackagesTemplate()">BACK TO PACKAGES</span>
		</div>
	</div>

	{{#each package}}
	<div class="dng_package_name">
		<h2>{{packagename}}</h2>
	</div>

	{{#if image}}
	<div id="dng_package_photo">
		<img src="{{edit_steps_view_photo image}}" alt="{{packagename}}" width="100%">
	</div>
	{{/if}}
	{{/each}}

	<div id="dng_package_content">

		<div id="dng_steps">
			<ul>
				{{#each steps}}
				<li>
					<!-- TEXT COLUMN -->
					<div class="dng_step_left_column dng_step_column">
						<!-- STEP NUMBER BAR -->
						<div class="dng_step_table">
							<div class="dng_step_table_left_column dng_step_table_column">
								<div class="dng_step_table_left_column_content">
									<div class="dng_step_number">{{stepid}}</div>
								</div>
							</div>
							<div class="dng_step_table_right_column dng_step_table_column">
								<div class="dng_step_table_right_column_content">
									<div class="dng_step_name">{{stepname}}</div>
									<div class="dng_step_location">{{locationname}}</div>
								</div>
							</div>
						</div>
						<!-- STEP DESCRIPTION -->
						<div class="dng_step_details">{{format_description description}}</div>
					</div>
					<!-- MAP COLUMN -->
					<div class="dng_step_right_column dng_step_column">
						<!-- MAP COLUMN -->
						<div id="dng_map_{{stepid}}" class="dng_step_map" data-package="{{packageid}}" data-step="{{stepid}}" data-center="{{mapcenter}}"></div>
					</div>
				</li>
				{{/each}}
			</ul>
		</div>

	</div>

</div>